$(document).ready(function(){
  var elem = $("<div></div>").text("Status was successfully destroyed.");
  elem.addClass("alert alert-info");

  $('li#status_<%= @status.id %>').fadeOut('slow');
  $( "div#body-container" ).prepend(elem);
  $('div.alert.alert-info').fadeOut(1600);
});