<% provide(:title, 'New staffmember') %>

<h1>Create new staffmember</h1>

<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <%= form_for(@staffmember, url: newstaffmember_path) do |f| %>
      <%= render 'fields', f: f, btn_text: 'Create new account' %>
    <% end %>
  </div>
</div>