$('li.filter').on('ajax:complete', function(){
    $('a.list-group-item').removeClass('is-active');
    $(this.firstElementChild).addClass('is-active');

    $('ul.list-group').replaceWith('<%= j render'tickets/tickets', tickets:
      Ticket.search_on_params(params['value']) %>');
    $('div#header-tickets').html('<h1>' + this.firstElementChild.text + '</h1>');
});


