<% provide(:title, 'Ticket') %>

<h1>Tickets list</h1>

<ul class='list-group'>

  <% @tickets.each do |ticket| %>

    <li class='list-group-item'>
      <%= link_to ticket.subject, ticket_path(ticket) %>
      <%= link_to 'Edit', edit_ticket_path(ticket), class:'badge' %>
    </li>

  <% end %>

  <%= link_to 'New Ticket', new_ticket_path, class: 'btn btn-primary' %>

</ul>

