$('li.filter').on('ajax:complete', function(){
    $('div.alert.alert-info').slideUp(600);

    $('a.list-group-item').removeClass('is-active');
    $(this.firstElementChild).addClass('is-active');

    $('ul.list-group').replaceWith('<%= j render'tickets/tickets', tickets:
      Ticket.search_on_param(params['value']) %>');
    $('div#header-tickets').html('<h1>' + this.firstElementChild.text.replace(/[^a-z\s]/ig, '') + '</h1>');
});


